@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/l/font?kit=KFOkCnqEu92Fr1MmgWxKMSsdDOaz18sIMyvnYDp7BlKwM41gQCbj2nyq4ypf&skey=5473b731ec7fc9c1&v=v19) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmWUlvBgUhCufV1MoNPTPkUjh8B1G-Mo9nQif82H2t4ilQpg&skey=c06e7213f788649e&v=v19) format('woff2');
}
